
.hero{
    position: relative;
}

.banner-img{
    width: 100%;
    -webkit-mask-image: 
        linear-gradient(to right, transparent, black 75%);
        /* linear-gradient(to top, transparent, black 75%); */
    mask-image: 
        linear-gradient(to right, transparent, black 100%);
        /* linear-gradient(to top, transparent, black 100%); */
    

     
    height: 100vh;
}

.hero_caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 10px;
}

.caption_img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.hero_caption >p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.hero-btn{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;

}

.btn > img{
    width: 25px;
}

.btn{
    border: 0;
    outline: 0;
    padding: 8px 12px;
    display: inline-flex;
    align-items: center;
    gap:10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.dark-btn{
    color: white;
    background-color:#6d6d6eb3;
}

.btn:hover{
    background-color: #ffffffbf;
}

.dark-btn{
    background: #6d6d6e66 ;
}

.more-cards{
    padding-left: 6%;
}